@charset "UTF-8";

@font-face {
    font-family: 'montserrat-thin';
    src: url(fontes/Montserrat/Montserrat-Thin.ttf)
}

@font-face {
    font-family: 'frances';
    src: url(fontes/Frances/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)
}

@font-face {
    font-family: 'montserrat-medium';
    src: url(fontes/Montserrat/Montserrat-Medium.ttf)
}

.sub-titulo {
    font-family: 'montserrat-thin';
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 11px;
    padding: 35px
}

.title {
    font-family: 'frances';
    font-size: 30px;
    position: relative;
    left: 34px;
    bottom: 15px;
    line-height: 1
}

.text {
    font-family: 'montserrat-thin';
    font-weight: 1000;
    font-size: 15px;
    line-height: 1.6;
    position: relative;
    left: 34px;
    bottom: 5px
}

.valor {
    display: flex
}

.inicial {
    font-family: 'Frances';
    font-size: 33px;
    position: relative;
    left: 34px;
    color: hsl(158, 36%, 37%)
}

.desconto {
    font-family: 'montserrat-thin';
    font-size: 13px;
    position: relative;
    left: 50px;
    bottom: -13px;
    font-weight: 1000
}

.botão {
    font-family: 'montserrat-medium';
    position: relative;
    top: 20px;
    left: 35px;
    padding: 15px 67px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    border: hsl(158, 36%, 37%);
    color: #FFF;
    cursor: pointer
}

body {
    background-color: hsl(30, 38%, 92%)
}

#conteiner {
    height: 920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.caixa {
    background-color: #FFF;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    border-radius: 10px
}
.sdasd{
    box-shadow: 
}